services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: user-service
    container_name: user_service_container
    ports:
      - "3001:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${AUTH_DB_USER}
      - DB_HOST=${AUTH_DB_HOST}
      - DB_DATABASE=${AUTH_DB_DATABASE}
      - DB_PASSWORD=${AUTH_DB_PASSWORD}
      - DB_PORT=${AUTH_DB_PORT}
    command: npm run dev --workspace=user-service

  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: auth-service
    container_name: auth_service_container
    ports:
      - "3002:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${AUTH_DB_USER}
      - DB_HOST=${AUTH_DB_HOST}
      - DB_DATABASE=${AUTH_DB_DATABASE}
      - DB_PASSWORD=${AUTH_DB_PASSWORD}
      - DB_PORT=${AUTH_DB_PORT}

  product-cat-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: product-cat-service
    container_name: product_cat_service
    ports:
      - "3003:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${PRODUCT_DB_USER}
      - DB_HOST=${PRODUCT_DB_HOST}
      - DB_DATABASE=${PRODUCT_DB_DATABASE}
      - DB_PASSWORD=${PRODUCT_DB_PASSWORD}
      - DB_PORT=${PRODUCT_DB_PORT}

  cart-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: cart-service
    container_name: cart_service
    ports:
      - "3004:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${CART_DB_USER}
      - DB_HOST=${CART_DB_HOST}
      - DB_DATABASE=${CART_DB_DATABASE}
      - DB_PASSWORD=${CART_DB_PASSWORD}
      - DB_PORT=${CART_DB_PORT}

  order-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: order-service
    container_name: order_service_cotainer
    ports:
      - "3005:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${ORDER_DB_USER}
      - DB_HOST=${ORDER_DB_HOST}
      - DB_DATABASE=${ORDER_DB_DATABASE}
      - DB_PASSWORD=${ORDER_DB_PASSWORD}
      - DB_PORT=${ORDER_DB_PORT}

  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: payment-service
    container_name: payment_service_cotainer
    ports:
      - "3006:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${PAYMENT_DB_USER}
      - DB_HOST=${PAYMENT_DB_HOST}
      - DB_DATABASE=${PAYMENT_DB_DATABASE}
      - DB_PASSWORD=${PAYMENT_DB_PASSWORD}
      - DB_PORT=${PAYMENT_DB_PORT}

  shipping-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: shipping-service
    container_name: shipping_service_cotainer
    ports:
      - "3007:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${SHIPPING_DB_USER}
      - DB_HOST=${SHIPPING_DB_HOST}
      - DB_DATABASE=${SHIPPING_DB_DATABASE}
      - DB_PASSWORD=${SHIPPING_DB_PASSWORD}
      - DB_PORT=${SHIPPING_DB_PORT}

  address-service:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: address-service
    container_name: address_service_cotainer
    ports:
      - "3008:3000"
    restart: unless-stopped
    networks:
      - network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - NODE_ENV=${NODE_ENV}
      - FRONTEND_URL=${FRONTEND_URL}
      - SESSION_SECRET=${SESSION_SECRET}
      - DB_USER=${ADDRESS_DB_USER}
      - DB_HOST=${ADDRESS_DB_HOST}
      - DB_DATABASE=${ADDRESS_DB_DATABASE}
      - DB_PASSWORD=${ADDRESS_DB_PASSWORD}
      - DB_PORT=${ADDRESS_DB_PORT}

  redis-service:
    image: "redis:alpine"
    container_name: redis_session_store
    ports:
      - "6379:6379"
    networks:
      - network

networks:
  network:
    driver: bridge
